* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.container {
	max-width: 965px;
	margin: auto;
}

p,
ul {
	font-size: 23px;
	font-family: 'Proba W01 Regular', 'fallback-font';
}

h3 {
	font-size: 52px;
	line-height: 1.5em;
	font-family: 'Proba W01 Regular', 'fallback-font';
}

/*--------------- MENU ----------------------*/

menu {
	background-color: #000;
}

menu ul {
	display: block;
}

menu li {
	display: inline-block;
}

menu li:after {
	content: "";
	display: block;
	border-bottom: 3px dashed #695938;
	margin-bottom: 10px;
	color: white;
}
menu a {
	display: inline-block;
	color: #fff;
}